//=======================
// Header Part CSS
//=======================

ion-header{
    --ion-background-color: #4a90e2;
}

.back-button{
    position: relative;
    width: 250px;
    height: 22px;
    left: 10px;
}

.header{
    color: white;
    width: 100%;
    height: 100%;
}

.report-repairing-progress{
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    transform: translateY(15%);
}

.detail-logo, .detail-property, .detail-information, .detail-separator{
    position: relative;
    min-height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 0;
    font-size: 15px;
    float: left;
}

.detail-logo{
    width: 7%;
    padding-left: 10px;
}

.detail-property{
    width: 33%;
    padding-left: 10px;
    font-weight: bold;
}

.detail-information{
    width: 58%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.detail-separator{
    width: 2%
}

//=======================
// Content Part CSS
//=======================

.description-textarea, .description-text{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    font-size:  15px;
}

.description-text{
    font-weight: bold;
}

.description-textarea{
    margin-right: 10px;
}

ion-textarea{
    border-bottom: solid 1.5px lightgrey;
}

.image-container, .image-block, .image-upload-space{
    position: relative;
}

.image-container{
    height: 130px;
    width: 100%;
    display: table;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.image-block{
    width: 33.33%;
    height: 100%;
    float: left;
}

.image-upload-space {
    height: 120px;
    width: 90px;
    border-radius: 2px;
    border: dashed 1.5px #d9d9d9;
    background-color: #fbfbfb;
    margin: 0 auto;
}

.camera-icon{
    position: relative;
    height: 32px;
    width: 32px;
    margin: 50% auto;
}

$colors: (
        primary:    #4a90e2,
        secondary:  #32db64,
        danger:     #f53d3d,
        light:      #f4f4f4,
        dark:       #222,
        vibrant:    rebeccapurple,
        bright:     #ffc125
);
