//=======================
// Header Part CSS
//=======================

ion-header{
    --ion-background-color: #4a90e2;
    min-width: 350px;
}

.header{
    color: white;
    width: 100%;
    height: 100%;
}

.back-button, .report-repairing-text, .submit-button{
    bottom: 50%;
    margin-bottom: -8.5px;
}

.back-button{
    position: relative;
    width: 20px;
    height: 20px;
    left: 10px
}

.report-repairing-text{
    position: absolute;
    font-size: 17px;
    left: 40px;
}

.submit-button{
    position: absolute;
    font-size: 16px;
    right: 15px;
}

.detail-logo, .detail-property, .detail-information, .detail-separator{
    position: relative;
    min-height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 0;
    font-size: 15px;
    float: left;
}

.detail-logo{
    width: 7%;
    padding-left: 10px;
}

.detail-property{
    width: 33%;
    padding-left: 10px;
    font-weight: bold;
}

.detail-information{
    width: 58%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.detail-separator{
    width: 2%
}

//=======================
// Content Part CSS
//=======================

ion-content{
    --ion-background-color: #f3f3f3;
    min-width: 350px;
}

ion-card{
    box-shadow: none !important;
    --background: white;
}

.icon-space{
    position: relative;
    left: 50%;
    margin-left: -30px;
    height: 30px;
    width: 100%;
    z-index: 1;
}

.icon-jellyfish{
    position: absolute;
    height: 60px;
    width: 60px;
    bottom: -40px;
}

.description-textarea, .description-text{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    font-size:  15px;
}

.description-text{
    font-weight: bold;
}

.description-textarea{
    margin-right: 10px;
}

ion-textarea{
    border-bottom: solid 1.5px lightgrey;
}

.image-container, .image-block, .image-upload-space{
    position: relative;
}

.image-container{
    height: 150px;
    width: 100%;
    display: table;
}

.image-block{
    width: 33.33%;
    height: 100%;
    float: left;
}

div>input{
    display: none;
}

.image-upload-space {
    height: 120px;
    width: 90px;
    border-radius: 2px;
    border: dashed 1.5px #d9d9d9;
    background-color: #fbfbfb;
    margin: auto;
}

.camera-icon{
    position: relative;
    height: 32px;
    width: 32px;
    margin: 50% auto;
}

.delete {
    text-align: center;
    color: red;
    margin-bottom: 5px;
    opacity: 0.5;
}

.imageUrl {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

$colors: (
        primary:    #4a90e2,
        secondary:  #32db64,
        danger:     #f53d3d,
        light:      #f4f4f4,
        dark:       #222,
        vibrant:    rebeccapurple,
        bright:     #ffc125
);
